<div class="container">
    {{#each products}}
    <div class="col-sm-4 col-lg-3 col-md-4 col-xs-6">
        <div class="thumbnail">
          <div class="thumbnail-image-container">
            <a href="/products/{{this.name}}"><img src={{this.image}} alt="" class="thumbnail-image"></a>
          </div>
            <div class="caption">
                <h4><a href="/products/{{this.name}}">{{this.name}}</a>
                </h4>
                <p>Try our {{this.name}}!</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
